<body class="text-center" cz-shortcut-listen="true">
    <div class="row">
        <div class="card col-md-4 offset-4 mt-4 pt-3 pb-3">
            <form class="form-register" [formGroup]="formcontrol" (ngSubmit)="registro($event)">
                <img class="mb-4" src="../../../assets/images/manos_juntas.avif" alt width="100" height="100">
                <h1 class="h3 mb-3 font-weight-bold lora">Crear Cuenta</h1>

                    <label for="InputNombre" class="sr-only">Id</label>
                    <input type="id" class="form-control"  placeholder="id" required autofocus formControlName="Id" >                       
                    <br>                 
                    <label for="InputNombre" class="sr-only">Nombre</label>
                    <input type="nombre" class="form-control" id="Inputnombre" placeholder="Nombre" required autofocus formControlName="Nombre" >                       
                    <br> 
                    <label for="InputCelular" class="sr-only">Celular</label>
                    <input type="number" class="form-control" id="Inputcelular" placeholder="Celular" required autofocus formControlName="Celular">                       
                    <br>    
                    <label for="InputEmail1" class="sr-only">Email</label>
                    <input type="email" class="form-control" id="InputEmail1" placeholder="Email" required autofocus formControlName="Email">                       
                    <br>
                    <label for="Password1" class="sr-only">Password</label>
                    <input type="password" class="form-control" name="password1" id="password1" placeholder="password" formControlName="Password" >
                    <br>
                
                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
            </form>
        </div>
    </div>
</body>