/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: #b6c3db !important;
}



.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}