/* header.component.css */
.navbar{
  background-color: #593196;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

}

nav li {
  margin-right: 20px;  
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.navbar h6 {
  color: #f8f9fa; /* Color de texto blanco */
  margin-top: 0; /* Espacio superior */
  margin-bottom: 0; /* Elimina el margen inferior */
}

.text-end{  
  position: absolute;
  right: 0;
  padding-right: 50px;
}